.contentTable {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    flex-direction: row;
    
}

.tableShop {
    width: 500px;
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
}

.listStore { 
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}

.buttonImage {
    width: 30px;
    height: 25px;
}

.shopping {
    padding: 40px;
}